ul {
  list-style-type: none;
  padding-left: 0px
}
h1 {
  margin: 3rem;
}
img {
  max-height: 285px;
  display: block;
  margin: 0 auto;
}
body {
  text-align: center;
}
button {
margin: 2rem;
}
li {
  font-size: large;
}
